a{
  text-decoration: double;
  color:#000 !important;
 }
     


     /* Form CSS */
     #r5 {
       position: centre;
       width: 400px;
       height:440px;
       border: 1px solid #d6d7da;
       padding-left: 20px;
       border-radius: 5px;
       font-family: 'Times New Roman', Times, serif;
       line-height: 16px;
       color: #333333;
       font-size: 14px;
       background: #ffffff;
       margin: 100px auto;
       padding-bottom: 50px;
       left: 470px;
       
     }
     
     form label, form input {
       width: 90%
     }
     
     form input {
       padding: 10px;
       border: solid 1px #BDC7D8;
     
     }
     
     .button5 {
       align-self: center;
       margin: 15px;
       background: #0066A2;
       color: white;
       border-style: outset;
       border-color: #0066A2;
       font: bold 15px arial,sans-serif;
       text-shadow: none;
   }
     
     .errorMsg {
       position: relative;
       color: #cc0000;
       margin-bottom: 12px;
     }
     
     .sucessMsg {
       color: #6B8E23;
       margin-bottom: 10px;
     }
     
     #head5{
       text-align: center;
       font-size: 30px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
     #t5{
       text-align: center;
       font-size: 20px;
       font-family:'Times New Roman', Times, serif;
     }
     .f5
     {
       height: 100vh;
       width: 100vw;
       position:  absolute;
       top: 0em;
       background-image: url("https://res.cloudinary.com/ds2qvbo1t/image/upload/v1670828679/pass_mupz4j.jpg");
       padding-bottom: 10em;
       
     }
     #main5
     {
       height: 10em;
       width: 40m;
       text-align:left;
       left: 100px;
      
     
     }

     #pass5{
      font-size:20px;
    }
    h4{

      right: 13em;
      text-align: center;
      font-size: 17px;
    }
    .bu5{
      border-radius: 60px;
      border: none;
      width: 100px;
      
      
    }
    Button
    {
      width: 122px;
    border-radius: 11px;
      background-color: #249e1e;
      color: #ffffff;
      border: none;
      align-content: center;
    }
    .bu6
    {
      align-items: center;
      display: flex;
      justify-content: center;
      padding-right: 40px;
      
    }
    .bu7
    {

      width: 100px;
      height: 36px;
    }
    .blue
    {
      color: #ffffff;
      
    }